.Button-Container{
    background-color: rgb(210, 134, 149);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.button{
    background-color: transparent;
    border: none;
    font: larger Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 50%;
    
}
.right-buttons{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}
.right-buttons button:hover{
text-decoration: underline;
cursor:pointer;
}
.container_1{
    background-color:rgb(210, 134, 149);
    padding:20px;
    height: 80%;
}
.content_1{
    padding: 90;
    margin: 10;
    float: left;
}
.container_1 img{ 
    width: 35%;
    align-content: right;
    height: 85%;
    padding: 45;
    float: right;
    margin-left: 90;
    overflow: clip;
}
.container_2{
    background-color:rgb(193, 54, 82);
    padding:20px;
    height: 80%;
}
.sections{
    display: flex;
    padding: 8%;
    justify-content: space-between;
}
.Footer{
    background-color: brown;
    height: 50%;
    display: flex;
}
.Footer img{
    height: 70%;
    padding: 45px;
}
.Footer h1{
    padding: 22px;
}