<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for ('static', filename ='css/main.css') }}" >
        <link rel="stylesheet" href="{{ url_for ('static', filename ='css/home.css') }}" >
    </head>
    <body>
        <section>
            <div class="Button-Container_1">
                <div><a href="{{ url_for('home') }}"><button class="button" id="Home-button">BirdWat</button></a></div>
            </div>
           
        </section>
        
        <div class="container_3">
           <h1>BirdWat</h1> 
        </div>
        <section>
            <div class="Button-Container">
                <div class="right-buttons">
                    <div><a href="{{ url_for('home_page') }}"><button class="button" id="button">Home</button></a></div>
                    <div><a href="{{ url_for('about_page') }}"><button class="button" id="button">About</button></a></div>
                    <div><a href="{{ url_for('birds_page') }}"><button class="button" id="button">Birds</button></div></a>
                </div>  
            </div>
        </section>
        <div class="HomeSection">
            <h1>Are you not sure of your bird species?</h1><br>
            <h3>Let us help you with it</h3><br>
            <div class="filecontainer">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="bird_image" accept="image/*">
                    <button type="submit" value="Upload Image"class="btn">Search</button>
                </form>
                
                
            </div>
            
        </div>
    
        

        <script>


        </script>
    </body>
</html>
